body {
    margin: 0;
    padding: 0;
}


body * {
    word-wrap: anywhere;
    margin: 0;
    padding: 0;
}

/*
button {
    display: block;
}
*/
.container {
    display: block;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.container-full {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.wrap-box {
    padding: 2rem;
    margin: 2rem 0;
    border: 1px solid #d2d2d2;
}

.grid-test {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-auto-flow: row dense;
}

.flexbox-test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox-test-child {
    width: calc(100%/3);
}

.grid-test h2,
.flexbox-test-child h2 {
    margin: 0px;
}

.media {
    width: 100%;
    background: cadetblue;
    margin: 1rem 0;
}

.large {
    grid-column: 1 / 3;
}

.media iframe {
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 16/9;
    display: block;
}

.media-1 {
    aspect-ratio: 16/9;
}

.media-2 {
    aspect-ratio: 1/1;
}

.item:first-child {
    grid-column: 1 / 3;
}

#hiddenContent {
    visibility: visible;
    animation: all 0.2s;
}

#hiddenContent .hidden {
    visibility: hidden;
    animation: all 0.2s;
    animation-name: fade-out;
}

@keyframes fade-in {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    50% {
      visibility: visible;
      opacity: 0.5;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
@keyframes fade-out {
    100% {
      visibility: hidden;
      opacity: 0;
    }
  
    50% {
      visibility: visible;
      opacity: 0.5;
    }
  
    0% {
      visibility: visible;
      opacity: 1;
    }
}

.trans-box2:hover {
    clip-path: inset(0 0% 0 100%);
}

.trans-box2 {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    clip-path: inset(0 0 0 0%);
    transition-duration: 1000ms;
    position: absolute;
    top: 0;
    left: 0;
}

.trans-box2-wrap {
    height: 30rem;
    width: 100%;
    content: "";
    background-image: linear-gradient(244deg, #9408ff 25% 35%, transparent);
    position: relative;
}

.trans-box2-inside {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Courier New', Courier, monospace;
}